<form (ngSubmit)="add()">
  <div class="form-gorup text-center">
    <h1>Ingrese datos del producto</h1>
  </div>
  <div class="form-group mx-sm-4 pt-2">
    <h5>Nombre del producto</h5>
    <input class="form-control" type="text" [(ngModel)]="product.name" name="name" placeholder="Nombre" required>
  </div>
  <div class="form-group mx-sm-4 pt-2">
    <h5>Ingrese la cantidad</h5>
    <input class="form-control" type="number" [(ngModel)]="product.amount" name="amount" placeholder="Cantidad" required>
  </div>
  <div class="form-group mx-sm-4 pt-3">
    <input type="submit" class="btn btn-block ingresar  mx-sm-4" value="Agregar producto" id="add">
  </div>

</form>