<div>
  <ol>
    <li *ngFor="let product of listProducts" (click) = 'nav(product.id)'>Producto: {{product.name}}</li>
  </ol>
  <a class="btn btn-block ingresar  mx-sm-4"  [routerLink]="['/admin/add']">Agregar Platillo</a>
  <a class="btn btn-block ingresar  mx-sm-4"  (click)="logout()">Cerrar sesion</a>
  <div class="form-group mx-sm-4 pt-2">
    <h5>Ingrese el nombre exacto para buscar</h5>
    <input class="form-control" type="text" [(ngModel)]="name" name="amount" placeholder="nombre" required>
    <button (click)="findByName()" >Buscar Producto</button>
  </div>
</div>
