<div>
  <div class="form-gorup text-center">
    <h1>Datos del producto</h1>
  </div>
  <div class="form-group mx-sm-4 pt-2">
    <h5>Nombre del producto</h5>
    <input class="form-control" type="text" [(ngModel)]="product.name" name="name" value="product.name" [disabled]="true">
  </div>
  <div class="form-group mx-sm-4 pt-2">
    <h5>Cantidad de productos</h5>
    <input class="form-control" type="number" [(ngModel)]="product.amount" name="amount" value="product.amount" [disabled]="true">
  </div>
  <div class="form-group mx-sm-4 pt-2">
    <h5>Fecha de ingreso</h5>
    <input class="form-control" type="text" [(ngModel)]="product.admissionDate" name="admissionDate" value = "product.admissionDate" [disabled]="true">
  </div>
  <div class="form-group mx-sm-4 pt-2">
    <h5>Nombre del ultimo usuario que modifico o creo producto</h5>
    <input class="form-control" type="text" [(ngModel)]="product.userDB.name" name="userName" value = "product.user.name" [disabled]="true">
  </div>
  <button (click) = 'nav(product.id)'>Editar producto</button>
  <button (click) = 'delete(product)'>Eliminar producto</button>
</div>