<div class="container">
  <div class="row justify-content-center pt-5 mt-5 mr-1">
    <div class="col-md-4 formulario">
      <form (ngSubmit)="signUp()">
        <div class="form-gorup text-center">
          <h1>Ingresa tus datos</h1>
        </div>
        <div class="form-group mx-sm-4 pt-2 text-center">
          <label for="user">Usuario: </label>
          <input class="form-control" type="text" [(ngModel)]="user.user" name="user" placeholder="Ingrese usuario" required>
        </div>
        <div class="form-group mx-sm-4 pt-3 text-center">
          <label for="pass">Contraseña: </label>
          <input class="form-control  text-center" type="password" [(ngModel)]="user.password" name="pass" placeholder="Ingrese contraseña" required>
        </div>
        <div class="form-group mx-sm-4 pt-3 text-center">
          <label for="name">Nombre: </label>
          <input class="form-control  text-center" type="text" [(ngModel)]="user.name" name="name" placeholder="Ingrese nombre" required>
        </div>
        <div class="form-group mx-sm-4 pt-3 text-center">
          <label for="age">Edad: </label>
          <input class="form-control  text-center" type="number" [(ngModel)]="user.age" name="age" placeholder="Ingrese edad" required>
        </div>
        <div class="form-group mx-sm-4 pt-3 text-center">
          <label for="role">Cargos: </label>
          <select [(ngModel)]="user.role" name="role" required>
            <option value="ASESOR_ VENTAS">asesor de ventas</option>
            <option value="ADMINISTRADOR_SOPORTE">administrador y soporte</option>
          </select>
        </div>
        <div class="form-group mx-sm-4 pt-3 text-center">
          <input type="submit" class="btn btn-block ingresar  mx-sm-4" value="Regístrarse" id="signUp">
        </div>
      </form>
    </div>
  </div>
</div>