<div>
  <table>
    <caption>Lista de usuarios</caption>
    <tbody>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Rol</th>
        <th>Activo</th>
      </tr>
      <tr *ngFor="let user of listUsers" (click)="nav(user.id)">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.role}}</td>
        <td *ngIf="user.active else elseBlock">Activo</td>
        <ng-template #elseBlock>
          <td>No activo</td>
        </ng-template>
      </tr>
    </tbody>
  </table>
  <button (click) = 'add()'>Agregar un usuario</button>
</div>
